header {
  display: flex;
  justify-content: space-between;
  background-color: #c7234f ;
  border-bottom: 10px solid #000;
  padding: 10px 20px;

}
nav{
  text-align: right;
  }

a{
  display: inline-flex;
  align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
        
}
a:before{
  content: " ";
  background-color: #23c79b;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#button{
  display: inline-block;
  background-color: #23c79b;
   padding: 18px 20px;
  box-shadow: 5px  5px  0 black;
  margin-right: 0px;
}
#button:hover {
  transform: rotate(360deg);
  transform: scale(1.10);
}

h1{
  font-family: 'Press Start 2P, sans-serif';
  font-size: 40px;
  font-weight: 400;
}

h2{
  font-family: 'Press Start 2P', sans-serif';
  font-size: 30px;
  font-weight: 400;
}