.main-section{ 
    background-color: #ca1b7b;   
    border-bottom: 10px solid rgb(85, 8, 139);
    padding-top: 50px;
    padding-bottom: 100px;
    
    
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-second{
    background-color: #000;
    border-bottom: 10px solid #ca1b7b;    
}

.main-section .main-title.-second{
    margin-top: 60px;
}

.main-section.-secondbg{
    background-color: #4C5B84;
    border-bottom: 10px solid #000;
}


.main-section.-contact{
    background-color: #3A4042;
}