.main-title{
   font-family: 'Press Start 2P', sans-serif;
   font-size: 40px;  
   color: #ca1b7b;
   text-shadow: 4px 4px 0px #000;       
}

.main-title.-second{
   text-align: center;
   font-size: 40px;
   color: #FFF;
   font-family: "Press Start 2P", sans-serif;
}
